extends layout

block content
    div(ui-view='')
    #opts-wrap
    .checkbox.checkbox-primary
        label
            input#enable-controls(type='checkbox', checked='checked')
            |&nbsp;&nbsp;Enable Controls
    //button.btn.btn-success Button
    #map-container