doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/build/styles/lib.min.css')
    link(rel='stylesheet', href='/build/styles/main.min.css')
    block headblock
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.with-ripples(ui-sref='floorplan') SmartRooms
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(ui-sref-active='active')
              a.with-ripples(ui-sref='floorplan') Home
            li(ui-sref-active='active')
              a.with-ripples(ui-sref='bookings') Bookings
        // /.nav-collapse
    .container-fluid
      div(ui-view='hero')
      block content
    //script(type='text/javascript', src='/build/scripts/lib.min.js')
    script(type='text/javascript', data-main='/build/scripts/main' src='/build/scripts/require.min.js')
