doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/build/css/main.css')
    block headblock
  body
    block content    
    script(type='text/javascript', src='/build/ts/pubts.js')
    //script(type='text/javascript', src='http://localhost:35729/livereload.js?snipver=1')